@keyframes fade-in {
    from {
        visibility: none;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: none;
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fade-in 300ms ease-in-out forwards;
}

.fade-out {
    animation: fade-out 300ms ease-in-out forwards;
}

.move-out {
    transform: translate(100%, 0);
    transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0);
}

.move-in {
    transform: translate(0%, 0);
    transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0);
}