$softOrange: hsl(35, 77%, 62%);
$softRed: hsl(5, 85%, 63%);
$offWhite: hsl(36, 100%, 99%);
$grayishBlue: hsl(233, 8%, 79%);
$darkGrayishBlue: hsl(236, 13%, 42%);
$veryDarkBlue: hsl(240, 100%, 5%);
$white: #ffff;

//fonts
$font-sm: 0.937rem; //15px
$font-med: 1.25rem; //18px
